.streamlit/secrets.toml
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
phi/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/
env.bak/
venv.bak/
.env
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-workspace
*.sublime-project
.Python
*.pyc
*.pyo
*.pyd
.Python
*.so
.ipynb_checkpoints
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.cache/
.pytest_cache/